body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150px;
}

.output-screen {
    width: 200px;
    height: 50px;
    border: 2px solid white;
}

button {
    background-color: pink;
    border: 2px solid white;
    padding: 10px 20px;
}

.button-container {
    display: flex;
    gap: 20px;
}